body{
    height: 100vh;
    width: 100%;
    font-family: "Ubuntu";
    margin: 0;
    padding: 0;
    color:white;
}

/* Common Alignment */
.center-align{
    text-align: center;
}
/* Navbar */
#nav-bar{
    background-color: #407bff;
    margin: 0;
    padding: 0;
}
.navbar-brand{
    font-weight: 600;
    font-size: 1.5rem;
    width: auto;
}
#nav-bar img{
    width: 7.5%;
    border-radius: 100%;
}
.navbar-collapse{
    flex-direction: row-reverse;
    
}
.nav-item a{
    text-decoration: none;
    font-weight: 500;
}

/* Intro Column */
.row{
    width: 100%;
}
#intro{
    height: auto;
    margin: 0;
    width: 100%;
}
.intro-col{
    background-color: #407bff;
    height: 100%;
    margin: 0;
    height: 75%;
    padding: 2.5% 3% 1% 10%;
}
.intro-img {
    text-align: center;
    width: 80%;
    margin: 0 auto 0 auto;
    padding: 0;
    position: relative;
}
.intro-head{
    font-family: "Ubuntu";
    font-weight: 600;
    font-size: 3rem;
    letter-spacing: 1px;
    
}
.intro-desc{
    font-family: "Roboto";
    font-weight: 200;
    font-size: 1.5rem;
    margin-bottom: 7.5%;
}

.intro-desc2{
    font-family: "Roboto";
    font-weight: 400;
    font-size: 1.1rem;
}
.col2{
    margin: 0 auto 0 auto;
    text-align: center;
    padding: 0 2% 0 2%;
}
.gen-pass-intro-button{
    margin-bottom: 10%;
}

/* Features */
#features{
    background-color: white;
    color : black;
    padding: 2% 5%;
}

.features-col{
    text-align: center;
}

.features-col .col{
    padding: 5%;
}
.feature-title{
    font-size: 1.3rem;
    font-weight: 900;
}
.feature-desc{
    font-size: 1rem;
    font-weight: 400;
    font-family: "Roboto";
}
.feature-img{
    color: #58bfff;
    margin: 0% auto 7.5% auto;
}

/* Generate-Pass */
#generate-pass{
background-color: #58bfff;
}


/* Media Queries */

@media (max-width:550px) {
    .intro-img {
        width: 100%;
    }
    .navbar-brand{
        width: auto;
    }
    .intro-col{
    padding: 4% 3% 1% 7.5%;
    }
    
.navbar-collapse{
    flex-direction:row;
    
}
}